

/* General Reset */
body, h1, p, a, ul, li, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkalami';
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f4f6;
}
